<li class="grabbable card bg-neutral text-neutral-content border border-base-content cursor-grab shadow-xl active:cursor-grabbing hover:opacity-75" data-id=<%= job.id %>>
  <div class="card-body">
    <h2 class="card-title"><%= link_to "#{job.company} - #{job.role}", job_path(job) %></h2>
    <% if job.resume %>
        <p>Resume: <%= link_to job.resume.title, resume_path(job.resume) %></p>
      <% else %>
        <p>No Resume Selected</p>
      <% end %>

      <% if job.letter %>
        <p>Letter: <%= link_to job.letter.title, letter_path(job.letter) %></p>
      <% else %>
        <p>No Letter Selected</p>
    <% end %>
    <p><%= job.created_at.strftime('%m/%d/%Y') %></p>
  </div>
</li>
