<h1>Welcome Home, <%= current_user.email %></h1>
<h2>Your Jobs</h2>
<ul>
  <% current_user.jobs.each do |job| %>
    <li>
      <%= link_to job.title, job_path(job) %>
      <% if job.resume %>
        (Resume: <%= link_to job.resume.title, resume_path(job.resume) %>)
      <% else %>
        (No Resume Selected)
      <% end %>
    </li>
  <% end %>
</ul>

<h2>Your Resumes</h2>
<ul>
  <% current_user.resumes.each do |resume| %>
    <li>
      <%= link_to resume.title, resume_path(resume) %>
    </li>
  <% end %>
</ul>


<ul>
  <li>
    <%= link_to 'Create a new job', new_job_path %>
  </li>
  <li>
    <%= link_to 'Create a new resume', new_resume_path %>
  </li>
  <li>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  </li>
</ul>