<h1 class="text-4xl font-bold underline">Welcome Home, <%= current_user.email %></h1>
<h2 class="text-xl font-bold underline">Your Jobs</h2>
<div class="flex justify-between">
  <% ['created', 'applied', 'interviewing', 'done'].each do |status| %>
    <div class="flex flex-1 flex-col">
      <h2 class="text-xl font-bold underline"><%= status.capitalize %></h2>
      <ul>
        <% current_user.jobs.where(status: status).order(created_at: :desc).each do |job| %>
          <li>
            <%= render 'job', job: job %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<h2 class="text-xl font-bold underline">Your Resumes</h2>
<ul>
  <% current_user.resumes.each do |resume| %>
    <li>
      <%= render 'application/link', text: resume.title, path: resume_path(resume) %>
    </li>
  <% end %>
</ul>

<h2 class="text-xl font-bold underline">Your Letters</h2>
<ul>
  <% current_user.letters.each do |letter| %>
    <li>
      <%= render 'application/link', text: letter.title, path: letter_path(letter) %>
    </li>
  <% end %> 
</ul>


<ul>
  <li>
    <%= link_to 'Create a new job', new_job_path %>
  </li>
  <li>
    <%= link_to 'Create a new resume', new_resume_path %>
  </li>
  <li>
    <%= link_to 'Create a new letter', new_letter_path %>
  </li>
  <li>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  </li>
</ul>