<main class="container mx-auto px-4">
  <section class="dashboard">
    <%= render 'header_bar', title: "Jobs", action_label: "New Job", action_route: new_job_path %>
    <section class="board-container">
      <div class="board">
        <% ['created', 'applied', 'interviewing', 'done'].each do |status| %>
          <div class="status">
            <h3 class="text-2xl font-semibold"><%= status.capitalize %></h3>
            <ul class="job-list card bg-base-300" id=<%= status %>>
              <% current_user.jobs.where(status: status).order(created_at: :desc).each do |job| %>
                <%= render 'job_card', job: job %>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div> 
    </section>
  </section>

  <section class="flex max-w-4xl mx-auto justify-evenly">
    <section class="card w-1/2">
      <div class="card-body">
        <div class="card-title rounded-lg">
          <h2 class="menu-title">Resumes</h2>
          <%= link_to "New Letter", new_resume_path, class: "btn btn-ghost" %>
        </div>
        <ul class="menu rounded-box">
          <% current_user.resumes.each do |resume| %>
            <%= render 'file_item', title: resume.title, item_path: resume_path(resume) %>
          <% end %> 
        </ul>
      </div>
    </section>

    <section class="card w-1/2">
      <div class="card-body">
        <div class="card-title rounded-lg">
          <h2 class="menu-title">Letters</h2>
          <%= link_to "New Letter", new_letter_path, class: "btn btn-ghost" %>
        </div>
        <ul class="menu rounded-box">
          <% current_user.letters.each do |letter| %>
            <%= render 'file_item', title: letter.title, item_path: letter_path(letter) %>
          <% end %> 
        </ul>
      </div>
    </section>
  </section>
</main>
  