<main>
  <section class="content">
    <% if @job.link.present? %>
      <h1><%= link_to @job.title, @job.link %></h1>
    <% else %>
      <h1><%= @job.title %></h1>
    <% end %>
    <p><%= @job.created_at.strftime('%m/%d/%Y') %></p>
    <%= link_to 'View', job_path(@job) %>
  </section>

    <%= form_with model: @job, local: true, method: :put do |form| %>
      <div class="field">
        <h2>Title</h2>
        <%= form.text_field :title %>
      </div>

      <div class="field">
        <h2>Link</h2>
        <%= form.text_field :link %>
      </div>

      <div class="field">
        <h2>Status</h2>
        <%= form.select :status, Job.statuses.keys.map { |status| [status.humanize, status] } %>
      </div>

      <div class="field">
        <h2>Resume</h2>
        <% if @job.resume %>
          <%= form.collection_select :resume_id, @resumes, :id, :title %>
        <% else %>
          <%= form.collection_select :resume_id, @resumes, :id, :title, include_blank: true %>
        <% end %>
        <p>or</p>
        <%= link_to 'Create a New Resume', new_resume_path(job_id: @job.id) %>
      </div>

      <div class="field">
        <h2>Cover Letter</h2>
        <% if @job.letter %>
          <%= form.collection_select :letter_id, @letters, :id, :title %>
        <% else %>
          <%= form.collection_select :letter_id, @letters, :id, :title, include_blank: true %>
        <% end %>
        <p>or</p>
        <%= link_to 'Create a New Letter', new_letter_path(job_id: @job.id) %>
      </div>

      <div class="field">
        <h2>Description</h2>
        <%= form.text_area :description %>
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>

</main>
