<%= stylesheet_link_tag 'create_form', media: 'all', 'data-turbolinks-track': 'reload' %>

<main>
  <h1>New Job</h1>

  <% if @job.errors.any? %>
    <div>
      <h3>Found <%= pluralize(@job.errors.count, "error") %> errors</h3>
      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @job do |form| %>
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :link %>
      <%= form.text_field :link %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div class="field">
      <%= form.label :resume_id, "Resume" %>
      <%= form.collection_select :resume_id, @resumes, :id, :title, include_blank: true %>
    </div>

    <div class="field">
      <%= form.label :letter_id, "Cover Letter" %>
      <%= form.collection_select :letter_id, @letters, :id, :title, include_blank: true %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</main>