<%= stylesheet_link_tag 'create_form', media: 'all', 'data-turbolinks-track': 'reload' %>

<main>
  <h1>New Job</h1>

  <% if @job.errors.any? %>
    <div>
      <h3>Found <%= pluralize(@job.errors.count, "error") %> errors</h3>
      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @job do |form| %>
    <div class="field">
      <%= form.label :company %>
      <%= form.text_field :company %>
    </div>

    <div class="field">
      <%= form.label :role %>
      <%= form.text_field :role %>
    </div>

    <div class="field">
      <%= form.label :link %>
      <%= form.text_field :link %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
    
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</main>