<%= stylesheet_link_tag 'create_form', media: 'all', 'data-turbolinks-track': 'reload' %>

<main>
  <%= form_with model: @letter, local: true do |form| %>
    <% if params[:job_id] %>
      <%= form.hidden_field :job_id, value: params[:job_id] %>
    <% end %>  
    
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, required: true %>
    </div>

    <div class="field">
      <%= form.label :subtitle %>
      <%= form.text_field :subtitle %>
    </div>

    <div class="field">
      <%= form.label :pdf %>
      <%= form.file_field :pdf, accept: 'application/pdf', required: true %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</main>