<main class="container flex flex-1 flex-col overflow-scroll justify-center items-center mx-auto px-4">
  <h1 class="font-bold text-2xl p-10 text-base-content w-4/5">Letter</h1>
  <section class="card p-10 bg-base-200 text-base-content w-4/5 shadow-xl">
    <nav class="navbar">
      <h2 class="card-title font-bold text-xl">
        <%= @letter.title %>
      </h2>

      <%= link_to 'View Document', @letter.drive_url, class: "btn btn-ghost" %>
      <%= link_to 'Edit Document', @letter.docs_url, class: "btn btn-ghost" %>
    </nav>

    <section class="card-body flex justify-end">
      <h3 class="font-bold">Jobs</h3>
      <% if @letter.jobs.any? %>
        <ul>
          <% @letter.jobs.each do |job| %>
            <li>
              <div>
                <%= link_to job.name, job_path(job), class: "link link-hover" %>
                <%= link_to 'Download Modified PDF', download_letter_path(@letter, job_id: job.id), method: :get, data: { turbo: 'false' }, class: "btn btn-ghost" %>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>You haven't linked any jobs to this letter.</p>
      <% end %>
    </section>
  </section>
</main>