<main>
  <h1><%= @letter.title %></h1>
  <p><%= @letter.subtitle %></p>
  <p><%= @letter.google_drive_file_id %></p>
  <%= link_to 'View Document', @letter.google_drive_url %>
  <%= link_to 'Download Modified PDF', download_letter_path(@letter), method: :get %>
</main>