<%= stylesheet_link_tag 'create_form', media: 'all', 'data-turbolinks-track': 'reload' %>

<main>
  <h1>New Resume</h1>

  <% if @resume.errors.any? %>
    <div>
      <h3>Found <%= pluralize(@resume.errors.count, "error") %> errors</h3>
      <ul>
      <% @resume.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with model: @resume, local: true do |form| %>
    <% if params[:job_id] %>
      <%= form.hidden_field :job_id, value: params[:job_id] %>
    <% end %>  
    
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :subtitle %>
      <%= form.text_field :subtitle %>
    </div>

    <div class="field">
      <%= form.label :pdf %>
      <%= form.file_field :pdf, accept: 'application/pdf' %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</main>