<%= javascript_include_tag 'drive_picker' %>

<main>
  <h1>New Resume</h1>

  <% if @resume.errors.any? %>
    <div>
      <h3>Found <%= pluralize(@resume.errors.count, "error") %> errors</h3>
      <ul>
      <% @resume.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with model: @resume, local: true do |form| %>
    <% if params[:job_id] %>
      <%= form.hidden_field :job_id, value: params[:job_id] %>
    <% end %>  
    

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    
    <div class="field">
      <%= form.label :google_drive_file_id %>
      <%= form.hidden_field :google_drive_file_id, id: 'google-drive-file-id' %>
      <button type="button" id="pick-file">Pick File</button>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>

</main>