<%= stylesheet_link_tag 'create_form', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= link_to "To Dashboard", dashboard_path %>

<%= form_with model: @resume, local: true do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle %>
  </div>

  <div class="field">
    <%= form.label :pdf %>
    <%= form.file_field :pdf, accept: 'application/pdf' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>