<main>
  <h1><%= @resume.title %></h1>
  <%= link_to 'View Document', @resume.drive_url %>
  <%= link_to 'Edit Document', @resume.docs_url %>

  <% @resume.jobs.each do |job| %>
    <%= link_to "#{job.company} - #{job.role}", job_path(job) %>
    <%= link_to 'Download Modified PDF', download_resume_path(@resume, job_id: job.id), method: :get, data: { turbo: 'false' } %>
  <% end %>
</main>